.skills-info{
  display: grid;
  grid-template-rows: 1fr 4fr 1fr ;
  overflow-y: hidden;
}

.skills-list{
  display: grid;
  height: auto;
  grid-template-columns: auto auto;
  justify-items: center;
}

.skills-column{
  display: flex;
  flex-direction: column;
}
.skills-item img{
  width: 1vw;
}
.skills-item{
  transition: 0.5s ease;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 0.2vw;
  padding: 0 1.5vw 0 1.5vw;
  border-radius: 0.2vw;
}

.skills-item p{
  font-size: 1.25vh;

}

.skills-item:hover{
  transform: scale(1.05);
  transition: 0.5s ease;
  background-color: #4f4f4f;
}


.skills-item:active{
  transform: scale(0.9);
  transition: 0.5s ease;
  background-color: #797979;
}
