<div class="wallet-layout">

  <div class="left-layout">
      <div class="wallets">
          <div class="left-layout-title">
            <p>Открытые Кошельки</p>
          </div>
          <div class="left-layout-list">
            <div class="left-layout-item">
              <img src="assets/img/btc.png">
              <p>BTC</p>
            </div>
            <div class="left-layout-item">
              <img src="assets/img/eur.png">
              <p>EUR</p>
            </div>
            <div class="left-layout-item">
              <img src="assets/img/usd.png">
              <p>USD</p>
            </div>

            <div class="left-layout-item">
              <img src="assets/img/add.png">
              <p>Добавить</p>
            </div>
          </div>

      </div>
      <div class="currency-actions">
          <div class="left-layout-title">
            <p>Действия с Кошельком</p>
          </div>

          <div class="left-layout-list">
            <div class="left-layout-item" >
              <img src="assets/img/barter.png" style="width: 2vw;">
              <p>Перевести из Валюты</p>
            </div>
            <div class="left-layout-item" >
              <img src="assets/img/barter.png" style="width: 2vw;">
              <p>Перевести в Валюту </p>
            </div>

          </div>

      </div>
  </div>
  <div class="center-layout">
    <div class="wallet-analytics">

    </div>
    <div class="transactions"></div>
  </div>
  <div class="right-layout">

  </div>
</div>
