<div class="profile-layout">
  <div class="extra-info">
      <div class="avatar">
        <div style="">
          <p style="">Аватар</p>
        </div>
        <div class="avatar-box">
          <img src="assets/img/avatar.png" alt="">
        </div>
        <div>
          <button>Загрузить</button>
        </div>
      </div>
      <div class="additional-info">
          <div class="info-item">
            <p>Дата Входа в Сеть</p>
            <hr>
            <p style="color: white; margin-top: 0.75vh">12.03.2022</p>
          </div>
        <div class="info-item">
          <p>Фракция</p>
          <hr>
          <p style="color: white; margin-top: 0.75vh">Солнышко</p>
        </div>
      </div>

  </div>
 <div class="editable-info">
    <div class="edit-item">
      <div class="edit-type">
        <p class="type">Псевдоним</p>
        <p class="value">JAD</p>
      </div>
      <div class="change-item">
        <button>Изменить</button>
      </div>

    </div>
   <hr >
   <div class="edit-item">
     <div class="edit-type">
       <p class="type">Почта</p>
       <p class="value">pivka</p>
     </div>

     <div class="change-item">

       <button>Изменить</button>
     </div>

   </div>
   <hr>
   <div class="edit-item">
     <div class="edit-type">
       <p class="type">Изменить Пароль</p>
       <p class="value">Пароль</p>
     </div>
     <div class="change-item">
       <button>Изменить</button>
     </div>

   </div>
   <hr >
 </div>

</div>
